<div class="content g-flex-column__item g-flex">
  <div class="panel panel-tree g-flex__item g-flex-column">
    <div class="actions g-flex-column__item-fixed g-flex g-flex--align-center gap-12">
      <button
        class="btn-primary"
        [disabled]="!selectedNode || (selectedNode && !selectedNode.expandable)"
        (click)="onAddItems(true)">
        Add {{ COUNT_ITEMS_FOR_ADD }} folders
      </button>

      <button
        class="btn-primary"
        [disabled]="!selectedNode || (selectedNode && !selectedNode.expandable)"
        (click)="onAddItems(false)">
        Add {{ COUNT_ITEMS_FOR_ADD }} files
      </button>
    </div>

    <mat-tree
      class="tree g-flex-column__item g-scroll"
      [dataSource]="dataSource"
      [treeControl]="flatTreeControl">
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodeToggle
        class="node g-flex g-flex--align-center"
        [class.node--draggable]="dragNode === node"
        [class.node--selected]="selectedNode === node"
        [class.drop--area]="dragNodeExpandOverNode === node && node.expandable"
        [class.drop--disable]="dragNodeExpandOverNode === node && !node.expandable"
        [style.margin-left.px]="node.level * NODE_LEFT_MARGIN"
        draggable="true"
        (dragstart)="handleDragStart(node)"
        (click)="onSelectNode(node)"
        (dragover)="handleDragOver($event, node)"
        (dragend)="handleDragEnd($event)"
        (drop)="handleDrop($event, node)">
        @if (node.icon) {
          <mat-icon>
            {{ node.icon }}
          </mat-icon>
        }

        <div class="node-label">
          {{ node.label }}
        </div>

        @if (selectedNode === node) {
          <mat-icon
            class="icon-btn g-flex g-flex--align-center g-flex--justify-center"
            (click)="deleteItem(node)">
            delete_outline
          </mat-icon>
        }
      </mat-tree-node>

      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        class="node g-flex g-flex--align-center"
        [class.node--draggable]="dragNode === node"
        [class.node--selected]="selectedNode === node"
        [class.drop--area]="dragNodeExpandOverNode === node && node.expandable"
        [class.drop--disable]="dragNodeExpandOverNode === node && !node.expandable"
        [style.margin-left.px]="node.level * NODE_LEFT_MARGIN"
        draggable="true"
        (dragstart)="handleDragStart(node)"
        (click)="onSelectNode(node)"
        (dragover)="handleDragOver($event, node)"
        (dragend)="handleDragEnd($event)"
        (drop)="handleDrop($event, node)">
        <mat-icon
          class="icon-btn icon-btn--offset g-flex g-flex--align-center g-flex--justify-center"
          matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.label">
          {{ flatTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>

        @if (node.icon) {
          <mat-icon>
            {{ node.icon }}
          </mat-icon>
        }

        <div class="node-label">
          {{ node.label }}
        </div>

        @if (node.level !== 0 && selectedNode === node) {
          <mat-icon
            class="icon-btn g-flex g-flex--align-center g-flex--justify-center"
            (click)="deleteItem(node)">
            delete_outline
          </mat-icon>
        }
      </mat-tree-node>
    </mat-tree>
  </div>

  @if (selectedNode) {
    <div class="panel panel-info g-flex__item-fixed g-flex-column gap-24">
      <div class="panel__title g-flex g-flex--align-center g-flex--space-between">
        <div>Node Settings</div>

        <mat-icon
          class="icon-btn g-flex g-flex--align-center g-flex--justify-center"
          (click)="selectedNode = undefined">
          close
        </mat-icon>
      </div>

      <div class="field g-flex-column__item-fixed g-flex-column gap-4">
        <div class="field__label">
          Node Name:
        </div>

        <input
          [placeholder]="selectedNode ? (selectedNode.expandable ? 'Folder' : 'File') + ' name' : 'Select item'"
          [maxlength]="NODE_NAME_MAX_LENGTH"
          [formControl]="nodeNameControl">
      </div>

      <div class="field g-flex-column__item g-flex-column gap-4">
        <div class="field__label">
          Select new icon:
        </div>

        <div class="icons g-flex-column__item g-flex g-flex--wrap gap-4 g-scroll-y">
          @for (iconName of MATERIAL_ICONS_LIST; track iconName) {
            <mat-icon
              class="item-icon"
              [class.item-icon--selected]="iconName === selectedIconName"
              (click)="onSelectIcon(iconName)">
              {{ iconName + '_outline' }}
            </mat-icon>
          }
        </div>

        <button
          class="btn-primary g-flex-column__item-fixed"
          [disabled]="(!selectedNode || selectedNode.icon === selectedIconName) && (nodeNameControl.pristine || nodeNameControl.invalid || !nodeNameControl.value)"
          (click)="onApply()">
          Apply
        </button>
      </div>
    </div>
  }
</div>
