@use 'variables' as *;
@use 'colors' as *;

.actions {
  margin-bottom: $grid-offset-step * 4;
}

.panel {
  &__title {
    margin: -($grid-offset-step * 4);
    padding: ($grid-offset-step * 3) ($grid-offset-step * 4);
    background: color(color-brand);
    color: color(color-white);
  }
}

.panel-tree {
  width: 100%;
  padding: $grid-offset-step * 4;
  padding-right: 0;
}

.panel-info {
  position: fixed;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: $grid-offset-step * 4;
  background: color(color-white);
  border-left: 1px solid color(color-el-disabled);
}

.tree {
  width: 100%;
  padding-left: $grid-offset-step * 6;
}

.drop {
  &--area {
    background-color: rgba(color(color-el-success), 0.5);
    border-radius: 4px;
  }

  &--disable {
    background-color: rgba(color(color-el-error), 0.5);
    border-radius: 4px;
    cursor: not-allowed !important;
  }
}

.node {
  width: fit-content;
  padding: $grid-offset-step ($grid-offset-step * 2);
  border-radius: 4px;
  overflow: visible;
  cursor: pointer;

  &--draggable {
    background-color: rgba(color(color-brand), 0.5);
    cursor: move;
  }

  &--selected {
    color: color(color-brand-dark);
  }
}

.node-label {
  margin-left: $grid-offset-step * 2;
  margin-right: $grid-offset-step;
  border-radius: 4px;
  white-space: normal;
  word-break: break-all;
}

.icon-btn {
  display: flex !important;
  font-size: 18px;
  transition: all $animation-step ease-in-out;
  opacity: 0.8;
  cursor: pointer;

  &--offset {
    margin-left: -($grid-offset-step * 6);
  }

  &:hover {
    opacity: 1;
  }
}

.item-icon {
  width: 32px;
  height: 32px;
  padding: $grid-offset-step;
  transition: all $animation-step ease-in-out;
  opacity: 0.5;
  cursor: pointer;

  &--selected,
  &:hover {
    background: color(color-brand-dark);
    color: color(color-white);
    border-radius: 4px;
    opacity: 1;
  }
}

.field {
  width: 100%;

  &__label {
    color: color(font-color-medium);
    font-size: $font-size-small;
    text-transform: uppercase;
  }
}

.icons {
  margin-right: -($grid-offset-step * 4);
}

.mat-icon {
  min-width: 24px;
  min-height: 24px;
}

@media screen
and (max-device-width: 660px)
and (orientation: portrait) {
  .panel-info {
    width: 100%;
    max-width: none;
    border: none;
  }
}

@media (prefers-color-scheme: dark) {
  .panel-info {
    background: color(color-background-dark);
  }
}
