@use 'variables' as *;
@use 'colors' as *;

.btn-primary {
  @extend .pointer;

  padding: ($grid-offset-step * 2) ($grid-offset-step * 3);
  color: color(color-white);
  border-radius: 6px;
  background: color(color-brand);
  transition: all $animation-step ease-in-out;
  white-space: nowrap;

  &:hover:not(:disabled) {
    background: color(color-el-hover);
  }

  &:disabled {
    background: color(color-el-disabled);
    color: color(color-text-disabled);
    cursor: not-allowed;
  }
}
